<div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
        <div class="nav-title">
            AaronDev
        </div>
    </div>
    <div class="nav-btn">
        <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
        </label>
    </div>

    <div class="nav-links">
        <a href="#projects" target="_blank">My Projects</a>
        <a href="http://stackoverflow.com/users/4084003/" target="_blank">Skill set</a>
        <a href="https://in.linkedin.com/in/jonesvinothjoseph" target="_blank">Conctact</a>
        <a href="https://codepen.io/jo_Geek/" target="_blank" class="cv">Get my CV</a>
        <!-- <a href="https://jsfiddle.net/user/jo_Geek/" target="_blank">JsFiddle</a> -->
    </div>
</div>